<div class="container">
    <div class="row">
        <span class="fa fa-cog fa-spin fa-3x" *ngIf="!posts&&!currentPost"></span>
        <div class="well well-with-icon well-lg" [ngClass]="{'col-md-12': isPostSectionExpanded, 'col-md-8': !isPostSectionExpanded}">
            <span class="fa fa-2x pull-right" (click)="expandPostSection()" [ngClass]="{'fa-arrow-circle-left': isPostSectionExpanded, 'fa-arrow-circle-right': !isPostSectionExpanded }"></span>
            <div *ngFor="let post of posts">
                <postbox [post]="post"
                         [componentVisible]="true"
                         [truncateContent]="true"></postbox>
            </div>
            <postbox [post]="currentPost"
                     [componentVisible]="currentPost"
                     [truncateContent]="false"></postbox>
        </div>
        <div class="col-md-3 col-md-offset-1" *ngIf="!isPostSectionExpanded">
            <h3>Recent Posts</h3>
            <div class="well well-lg">
                <ul>
                    <li *ngFor="let recentPost of recentPosts" [routerLink]="['/blog/',recentPost.id]">
                        <a>{{ recentPost.title }}</a>
                    </li>                    
                </ul>

            </div>
            <div *ngIf="!currentPost">
                <h3>Tags</h3>
                <div class="well well-lg">
                    <a *ngFor="let tag of tags" [routerLink]="['/blog/tags',tag.name]">
                        <span class="fa fa-2x {{ tag.icon }}" [style.color]="getIconColor(tag)"></span>
                        <p [style.color]="getIconColor(tag)">{{ tag.name }}</p>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

