<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default" *ngFor="let post of posts">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ post.title }}</h3>
                    <br/>
                    {{ post.dateCreated }}
                </div>
                <div class="panel-body">{{ post.content | truncate:[20]}} <button class="btn btn-default" 
                                                                                  *ngIf="post.content.length > 20"
                                                                                  [routerLink]="['/blog/',post.id]">Read More</button></div>
            </div>
            <div class="panel panel-default" *ngIf="currentPost">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ currentPost.title }}</h2>
                </div>
                <div class="panel-body">
                    {{ currentPost.content }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>Recent Posts</h3>
            <div class="well well-lg">
                <div *ngFor="let recentPost of recentPosts">
                    {{ recentPost.title }}
                </div>
            </div>
            <div *ngIf="!currentPost">
                <h3>Tags</h3>
                <div class="well well-lg">
                    <button class="label label-primary" *ngFor="let tag of tags" [routerLink]="['/blog/',tag.name]">{{ tag.name }}</button>
                </div>                
            </div>
        </div>
    </div>    
</div>

