<div class="panel panel-primary" *ngIf="componentVisible">
    <div class="panel-body" *ngIf="!truncateContent">
        <div class="row">
            <h1 class="col-sm-6">{{ post.title }}</h1>
            <div col-sm-6>
                <div class="pull-right">
                    {{ post.dateCreated }}
                    <span *ngFor="let tag of post.tags" class="tag-link" [routerLink]="['/blog/tags/',tag.name]">
                        <span class="fa fa-2x {{ tag.icon }}" [style.color]="getIconColor(tag)"></span>{{ tag.name }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            {{ post.content }}
        </div>
    </div>
    <div class="panel-body" *ngIf="truncateContent">{{ post.content | truncate:[400]}} <button class="btn btn-xs btn-primary"
                                                                                               *ngIf="post.content.length > 400"
                                                                                               [routerLink]="['/blog/',post.id]">[Read More]</button>
    </div>
</div>