<div class="panel panel-default" *ngIf="componentVisible">
    <div class="panel-heading">
        <h1>{{ post.title }}</h1>
        <div>{{ post.dateCreated }}
            <div class="pull-right" style="cursor: pointer;">
                <span *ngFor="let tag of post.tags" [routerLink]="['/blog/tags/',tag.name]">
                    <span class="fa fa-2x {{ tag.icon }}" [style.color]="getIconColor(tag)"></span>{{ tag.name }}
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body" *ngIf="!truncateContent">
        {{ post.content }}
        <script src="https://gist.github.com/piotr-mamenas/41d28ec5b158139dbbae22ef81056b20.js"></script>
    </div>
    <div class="panel-body" *ngIf="truncateContent">{{ post.content | truncate:[400]}} <button class="btn btn-xs btn-primary"
                                                                                               *ngIf="post.content.length > 400"
                                                                                               [routerLink]="['/blog/',post.id]">[Read More]</button>
    </div>
</div>