.body-content {
    padding-top: 100px;
    font-family: 'Encode Sans', sans-serif;

}

body {
    background-color: #000;
    height: 100%;
}

.footer {
    height: 60px;
    background-color: #FFF;
    opacity: 0.4;
    float: right;
}