body {
    background-color: #FFF;
    font-family: 'Encode Sans', sans-serif;
}

.footer {
    height: 100px;
    background-color: #FFF;
    opacity: 0.4;
    float: right;
}

.navbar-fixed-bottom {
    text-align: center;
}

.fa-envelope {
    margin-top: 30px;
}