<body>
<nav-menu></nav-menu>
<div id="app-router-main">
    <router-outlet></router-outlet>    
</div>
<div class="footer navbar-fixed-bottom">
    <a class="fa fa-envelope fa-2x" href="mailto:p.mam@email.com" target="_top"></a>
</div>
<div class="app-icon-container">
    <span class="fa-stack fa-lg">
        <a href="https://github.com/piotr-mamenas" target="_blank">
            <i class="fa fa-2x fa-github"></i>
        </a>
        <a href="https://stackoverflow.com/users/1444319/piotr-jerzy-mamenas" target="_blank">
            <i class="fa fa-2x fa-stack-overflow"></i>            
        </a>
        <a href="https://www.linkedin.com/in/piotr-jerzy-mamenas-4714a979/" target="_blank">
            <i class="fa fa-2x fa-linkedin"></i>            
        </a>

    </span>
</div>
</body>

