body {
    background-color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

#app-router-main {
    margin-top: 100px;
}

.footer {
    height: 100px;
    background-color: #FFF;
    opacity: 0.4;
    float: right;
}

.navbar-fixed-bottom {
    text-align: center;
}

.fa-envelope {
    margin-top: 30px;
}

.fa-github {
    color: #000000;
}

.fa-github:hover {
    color: #333333;
}

.fa-linkedin {
    color: #00008b;
}

.fa-linkedin:hover {
    color: #0011bb;
}

.fa-stack-overflow {
    color: #d2691e;
}

.fa-stack-overflow:hover {
    color: #ffbb0a;
}

.app-icon-container {
    position: absolute;
    top: 100px;
    right: 60px;
}

i {
    padding: 20px;
}