<div class="widget col-md-3" [attr.widget-id]="widgetId"
     [style.background]="widget.color"
     (click)="onClickWidget()"
     [@openWidget]="widgetState"
     (@openWidget.start)="onAnimationStarted()"
     (@openWidget.done)="onAnimationFinished()">
    <div class="col-md-3" [hidden]="isArticleHidden">
        <button class="btn btn-primary pull-left" (click)="onClickBack($event)"><span class="fa fa-chevron-circle-left"></span> Back</button>
    </div>
    
    <div class="col-md-9">
        <div class="widget-title">
            <div class="corner-text">
                {{ widget.contentType }}
            </div>
            <div class="row">
                <span class="fa {{ widget.icon }} fa-4x" [hidden]="!isArticleHidden"></span>
            </div>
            <div class="row">
                {{ widget.name }}
            </div>
        </div>
    </div>
</div>    

<div class="widget widget-article well well-lg" [@toggleWidgetArticle]="articleWidgetState" [hidden]="isArticleHidden">
    {{ widget.content }}
</div>