<div class="container">
    <div class="row">
        <div *ngFor="let widget of widgets">
            <widget [colorRgb]="widget.color" 
                    [widgetId]="widget.id" 
                    [widgetName]="widget.name"
                    [widgetContent]="widget.content"
                    [widgetIcon]="widget.icon"
                    (onWidgetOpened)="onWidgetOpened($event)"
                    (onWidgetClosed)="onWidgetClosed($event)"
                    *ngIf="!widget.isClosed"></widget>
        </div>
    </div>
</div>
